<div class="max-w-5xl mx-auto px-4 sm:px-6">
  <h1 id="locatie">Locatie</h1>
  <div>

    <div class="flex items-center justify-center">
      <h2>Gemeentehuis Lubbeek</h2>
    </div>
    <br>
    <div class="flex items-center justify-center">
    <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?q=gemeentehuis%20lubbeek&key=AIzaSyD4Nv6112mxJT3kvm5Vdc-52tT1rGcomi4"></iframe>
    </div>
<br>
    <div class="flex items-center justify-center">
      <h2>Feestzaal De Venkel</h2>
    </div>
    <br>
  <div class="flex items-center justify-center">
    <iframe width="600"
            height="450"
            style="border:0" loading="lazy" allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJcSwRiVvew0cR33oIgBdu7vI&key=AIzaSyD4Nv6112mxJT3kvm5Vdc-52tT1rGcomi4">
    </iframe>
</div>
  </div>
</div>

