<div class="max-w-5xl mx-auto px-4 sm:px-6">
  <div class="flex items-center py-4">
    <div class="flex-grow h-px bg-usf"></div>
    <div class="flex-shrink font-extralight px-7 text-4xl sm:text-7xl text-center text-usf">Locatie</div>
    <div class="flex-grow h-px bg-usf"></div>
  </div>
<!--  <h1 id="locatie" class="font-extralight mb-3 mt-16 text-7xl text-center text-usf">Locatie</h1>-->
  <div>

    <div class="flex items-center justify-center">
      <h2>Gemeentehuis Lubbeek</h2>
    </div>
    <br>
    <div class="flex items-center justify-center">
    <iframe width="100%" height="450" style="border:0; max-width: 600px" loading="lazy" allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?q=gemeentehuis%20lubbeek&key=AIzaSyD4Nv6112mxJT3kvm5Vdc-52tT1rGcomi4"></iframe>
    </div>
<br>
    <div class="flex items-center justify-center">
      <h2>Feestzaal De Venkel</h2>
    </div>
    <br>
  <div class="flex items-center justify-center">
    <iframe width="100%" height="450" style="border:0; max-width: 600px" loading="lazy" allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJcSwRiVvew0cR33oIgBdu7vI&key=AIzaSyD4Nv6112mxJT3kvm5Vdc-52tT1rGcomi4">
    </iframe>
</div>
  </div>
</div>

