<div class="relative bg-white">
  <app-navigation>
  </app-navigation>
</div>


<div class="relative bg-white">

  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex items-center justify-center">
      <img class=" max-w-5xl max-h-7xl sm:max-w-3xl " src="assets/written.svg" alt="Workflow">
    </div>
    <div class="flex items-center justify-center">
      <p class="main">gaan trouwen!</p>
    </div>
    <div class="flex items-center justify-center">
      <p class="byline">28/10/2022</p>
    </div>
  </div>

  <div class="max-w-7xl mx-auto px-4 sm:px-6">


    <app-attendance-form></app-attendance-form>

    <div class="flex items-center justify-center">
      <hr/>
    </div>


    <app-route-description></app-route-description>
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <div class="flex items-center justify-center">
        <hr/>
      </div>
    </div>

    <div class="max-w-5xl mx-auto px-4 sm:px-6">
      <h1 id="cadeautip">Cadeautip</h1>
    </div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <div class="flex items-center justify-center">
        <p>Liefst voor ons geen geschenken, maar je mag wel aan ons spaarrekening denken.</p>
      </div>
      <div class="flex items-center justify-center">
        BE56 7390 1566 4588
      </div>
    </div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <div class="flex items-center justify-center">
        <hr/>
      </div>
    </div>
  </div>
</div>
