<div id="navBar" class="relative bg-white sticky top-0 z-10">
  <app-navigation></app-navigation>
</div>

<div id="home"></div>
<div class="relative bg-white">

  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex items-center justify-center">
      <img class="max-h-7xl max-w-full mt-16 sm:max-w-3xl sm:mt-36" src="assets/hero.svg" alt="Workflow">
    </div>
    <div class="flex items-center justify-center">
      <p class="font-black text-2xl sm:text-3xl text-usf uppercase">gaan trouwen!</p>
    </div>
    <div class="flex items-center justify-center">
      <p class="text-usf opacity-70">28/10/2022</p>
    </div>
  </div>


  <div class="max-w-7xl mx-auto px-4 sm:px-6">

    <div class="h-16"></div>
    <div id="aanwezigheid"></div>
    <app-attendance-form id="aanwezigheid"></app-attendance-form>



    <div class="h-16"></div>
    <!--    <div class="h-1 w-full bg-usf lg:w-7/12 m-auto my-11"></div>-->
    <!--    <div class="flex items-center justify-center">-->
    <!--      <hr/>-->
    <!--    </div>-->


    <div id="locatie"></div>
    <app-route-description></app-route-description>

<!--    <div class="h-1 w-full bg-usf lg:w-7/12 m-auto my-11"></div>-->
    <!--    <div class="max-w-7xl mx-auto px-4 sm:px-6">-->
    <!--      <div class="flex items-center justify-center">-->
    <!--        <hr/>-->
    <!--      </div>-->
    <!--    </div>-->


    <div class="h-16"></div>
    <div class="flex items-center py-4">
      <div class="flex-grow h-px bg-usf"></div>
      <div class="flex-shrink font-extralight px-7 text-4xl sm:text-7xl text-center text-usf">Cadeautip</div>
      <div class="flex-grow h-px bg-usf"></div>
    </div>
<!--    <div class="max-w-5xl mx-auto px-4 sm:px-6">-->
<!--      <h1 id="cadeautip" class="font-extralight mb-3 mt-16 text-7xl text-center text-usf">Cadeautip</h1>-->
<!--    </div>-->
    <div id="cadeautip"></div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <div class="flex items-center justify-center text-center">
        <p>Liefst voor ons geen geschenken, maar je mag wel aan ons spaarrekening denken.</p>
      </div>
      <div class="flex items-center justify-center opacity-70">
        BE56 7390 1566 4588
      </div>
    </div>

    <div class="h-20"></div>
      <div class="flex items-center justify-center opacity-70">
        <img class="h-8 w-auto sm:h-10" src="/assets/rings.svg" alt="">
      </div>
    <div class="h-12"></div>
<!--    <div class="h-1 w-full bg-usf lg:w-7/12 m-auto my-11"></div>-->
    <!--    <div class="max-w-7xl mx-auto px-4 sm:px-6">-->
    <!--      <div class="flex items-center justify-center">-->
    <!--        <hr/>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
