<div class="relative bg-white">

  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex items-center justify-center">
      <img class="max-h-7xl max-w-full mt-16 sm:max-w-3xl sm:mt-36" src="assets/hero.svg" alt="Workflow">
    </div>
    <div class="flex items-center justify-center">
      <p class="font-black text-2xl sm:text-3xl text-usf uppercase">zijn getrouwd!</p>
    </div>
    <div class="flex items-center justify-center">
      <p class="text-usf opacity-70">28/10/2022</p>
    </div>

    <div class="flex items-center justify-center">
      <p class="font-black text-1xl sm:text-1xl text-usf lowercase">Bedankt om er bij te zijn!</p>
    </div>
  </div>
</div>
