<div class="max-w-5xl mx-auto px-4 sm:px-6">
  <div class="flex items-center py-4">
    <div class="flex-grow h-px bg-usf"></div>
    <div class="flex-shrink font-extralight px-7 text-4xl sm:text-7xl text-center text-usf">Aanwezigheid</div>
    <div class="flex-grow h-px bg-usf"></div>
  </div>
<!--  <h1 id="aanwezigheid" class="font-extralight mb-3 mt-16 text-7xl text-center text-usf">Aanwezigheid</h1>-->

  <div *ngIf="succesMessage" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
    Bedankt om te bevestigen.
  </div>
  <div *ngIf="error" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
    Er liep iets mis, probeer het later opnieuw. Of stuur je bevestiging via sms/whatsapp.
  </div>
  <div *ngIf="formError" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
    Gelieve alle velden in te vullen.
  </div>
  <form class="w-full max-w-sm mx-auto" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex items-center border-b border-teal-500 py-2">
      <input formControlName="firstName" id="firstName"
             class="appearance-none bg-transparent border-none focus:outline-none leading-tight mr-3 ng-invalid ng-pristine ng-untouched p-3 placeholder-black text-gray-700 w-full"
             placeholder="Voornaam">
    </div>
    <div class="flex items-center border-b border-teal-500 py-2">
      <input formControlName="name" id="name"
             class="appearance-none bg-transparent border-none focus:outline-none leading-tight mr-3 ng-invalid ng-pristine ng-untouched p-3 placeholder-black text-gray-700 w-full"
             placeholder="Naam">
    </div>
    <div class="flex items-center border-b border-teal-500 py-2">
      <input formControlName="allergies" id="allergies"
             class="appearance-none bg-transparent border-none focus:outline-none leading-tight mr-3 ng-invalid ng-pristine ng-untouched p-3 placeholder-black text-gray-700 w-full"
             placeholder="Allergiën/Zwanger?">
    </div>
    <div class="flex items-center border-b border-teal-500 py-2">

      <input formControlName="remarks" id="remarks"
             class="appearance-none bg-transparent border-none focus:outline-none leading-tight mr-3 ng-invalid ng-pristine ng-untouched p-3 placeholder-black text-gray-700 w-full"
             placeholder="Opmerkingen">
    </div>
    <div class="flex gap-3 content-center my-3 p-3 pl-2">
      <span>Aanwezig:</span>
      <input formControlName="present" type="checkbox">
    </div>
    <div class="inline-block relative w-full">
      <select formControlName="diet"
              class="appearance-none bg-white block border border-gray-400 focus:outline-none focus:shadow-outline hover:border-gray-500 leading-tight ng-invalid ng-pristine ng-touched px-3 py-4 pr-8 mb-2 rounded w-full">
        <option>Voorkeur Eten</option>
        <option *ngFor="let option of dietOptions">{{option}}</option>
      </select>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
        </svg>
      </div>
    </div>

    <div class="inline-block relative w-full">
      <select formControlName="arrival"
              class="appearance-none bg-white block border border-gray-400 focus:outline-none focus:shadow-outline hover:border-gray-500 leading-tight ng-invalid ng-pristine ng-touched px-3 py-4 pr-8 rounded w-full">
        <option>Aankomst</option>
        <option *ngFor="let time of arrivalTimes">{{time}}</option>
      </select>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
        </svg>
      </div>
    </div>


    <div class="flex items-center py-2">
      <button class="bg-usf border border-usf content-center font-semibold hover:opacity-80 justify-center p-5 rounded text-white w-full"
              type="submit">
        Verzenden
      </button>
    </div>
    <p class="byline"> *gelieve meerdere personen 1 per 1 te registreren</p>

  </form>
</div>
