<!-- This example requires Tailwind CSS v2.0+ -->

    <div class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="#" (click)="scrollToTop()">
          <img class="h-8 w-auto sm:h-10" src="/assets/rings.svg" alt="">
        </a>
      </div>
      <nav class="hidden md:flex space-x-10">
        <a href="/#" class="text-base font-medium text-gray-500 hover:text-gray-900"> Home </a>
        <a href="/#aanwezigheid" class="text-base font-medium text-gray-500 hover:text-gray-900"> Aanwezigheid </a>
        <a href="/#locatie" class="text-base font-medium text-gray-500 hover:text-gray-900"> Locatie </a>
        <a href="/#cadeautip" class="text-base font-medium text-gray-500 hover:text-gray-900"> Cadeautip </a>
      </nav>
    </div>
