/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  color: #67121f;
  font-family: "Great Vibes", cursive;
  font-size: 80px;
  line-height: 160px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 40px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

a {
  padding-right: 10px
}

p.main {
  color: #7a7c7f;
  font-size: 29px;
  font-family: "Libre Baskerville", serif;
  line-height: 45px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  padding-top: 20px;
}


p.byline {
  font-style: italic;
  color: #B6B6B6;
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #67121f; /* YOUR COLOR HERE */
  margin: 1em 0;
  width: 100%;
  padding: 0;
}
